header.bg-dark h1,
header.bg-dark h2,
header.bg-dark h3,
header.bg-dark h4,
header.bg-dark h5,
header.bg-dark h6,
header.bg-dark p{
    color: #fff;
}

.nav-current{
    color:#fff;
}

ul ul .nav-current {
    background: #ddd;
    color: #212529;
}

ul .nav-active {
    color: #ddd;
}

a.link-light.small.mx-1.metanav-current {
    color: #ff8700 !important;
}

a.link-light.small.mx-1 {
    text-decoration: none;
}

img.siteLogo {
    max-width: 10%;
    height: auto;
}

.rootline a, .rootline a:visited {
    color: #666;
    display: inline-block;
}

.rootline a:after {
    display: inline-block;
    content: ">";
    margin: 0 .5rem;
}

.rootline a:hover {
    color: #ff8700;
}